asgiref==3.2.3
beautifulsoup4==4.8.2
bs4==0.0.1
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==2.8
Django==3.0.2
django-cors-headers==3.2.1
django-default-imagefield==0.5.5
django-polymorphic==2.1.2
django-rest-knox==4.1.0
djangorestframework==3.11.0
get==2019.4.13
httpie==2.0.0
idna==2.8
npm==0.1.1
optional-django==0.1.0
Pillow==6.2.2
post==2019.4.13
public==2019.4.13
pycparser==2.19
Pygments==2.5.2
pytz==2019.3
query-string==2019.4.13
request==2019.4.13
requests==2.22.0
selenium==3.141.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.8
